
{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="login-dark">
    <form method="post">{% csrf_token %}

            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><img src="{% static 'img/Alson%20project%20logo%20(1).png' %}" width="200" height="200"></div>
            <div class="form-group"><input class="form-control" type="Username" name="username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a></form>
{% endblock %}
<!--<h2>Login</h2>-->

<!--<form method="post">-->
  <!--{% csrf_token %}-->
  <!--{{ form.as_p }}-->
  <!--<button type="submit">Login</button>-->
<!--</form>-->
