{% extends 'index.html' %}
{% load static %}
{% block body %}



    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><strong>Paragliding&nbsp;</strong><br></h1><img class="img-fluid" src="{% static 'img/paraglidephoto020-1.jpg' %}"></div>
                    <div class="text">
                        <p class="text-justify" style="color: #000000;font-size: 20px;">If you want to fly like a free bird you must try Paragliding which will let you witness the most beautiful landscape from above. You can fly up in the air and experience the beautiful view from above will not let you regret a bit.
                            You will have a feeling that you are floating with the wind.&nbsp;<br><br><strong>Highlights</strong>: Pokhara is however the best place for paragliding in Nepal.&nbsp;<br><br><strong>Best time to visit:</strong>&nbsp;The season
                            starts in September and ends in early June.&nbsp;<br><br><strong>Difficulty Level</strong>: High, the risks involved are huge especially during the take-off and the landing time when there is a sudden change in the wind. However
                            you have a reserve chute for a safe landing.&nbsp;<br><br><strong>Prices</strong>: A standard flight of 30 minutes will cost you somewhere around Rs. 7714<br><br></p>
                        <figure></figure>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><strong>Boating in Rara lake</strong><br></h1><img class="img-fluid" src="{% static 'img/Boating_at_Rara.jpg' %}"></div>
                    <div class="text">
                        <p class="text-justify" style="color: #000000;font-size: 20px;">It is also the adventurous works boating in RARA lake as it is the biggest lake of Nepal lies in MUGU district. THERE ARE MANY Tourists CAME HERE AND TAKES THE JOY OF BOATING IN RARA. The Rara have a specification of deeper and
                            large size shadowing the mountains. The colorful water and clean water with greenery plantation surroundings have increased the values and importance of the lake with the specifications functions. There are services of boating
                            in Rara according to your style. The boating in RARA will also prove you are adventurous and are capable of doing the adventurous works. People are mostly in search of adventurous works so it might be best places to act and
                            takes the joy of Pokhara and natural beauty with enthusiastic thought and motion. Rara will test you either you are really the adventurous hearted or only the showings features. The glittering and crying cloud don’t rain makes
                            the sense so.<br><br>There are services of boating in Rara according to your style. The boating in RARA will also prove you are adventurous and is capable of doing the adventurous works. People are mostly in search of adventurous
                            works so it might be best places to act and takes the joy of Pokhara and natural beauty with enthusiastic thought and motion. Rara will test you either you are really the adventurous hearted or only the showings features. The
                            glittering and crying cloud don’t rain makes the sense so.<br></p>
                        <figure></figure>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><strong>Waterfall ice climbing</strong></h1><img class="img-fluid" src="{% static 'img/nepal-ice-climbing.jpg' %}"></div>
                    <div class="text">
                        <p class="text-justify" style="color: #000000;font-size: 20px;">With eight of the world’s highest peaks found in Nepal, The Himalayas are a mountainous playground for trekking enthusiasts, mountaineers and of course ice-climbers! Home to numerous routes all ranging in difficulty (WI3-WI5, 200′-1000’+),
                            this is the place to get your climb on- with warm clothes of course! If you want to push yourself to the limit by battling extreme altitudes and taking on the toughest icefalls and jagged peaks, then this exhilarating experience
                            is one for you.&nbsp;Waterfall ice-climbing&nbsp;(yes, it’s a thing!) has become increasingly popular in this destination alone as not only do you take on the challenge to climb some incredible frozen water, but the amazing
                            landscapes you get to see on your ascent are completely unique to Nepal.<br><br><strong>Where to do it:</strong>&nbsp; The main areas to ice climb are&nbsp;Lantang Valley,&nbsp;Annapurna Sanctuary, and Thame, Khumbu Bijuli
                            Power House. Make sure to research where the ones you want to do are located as some are close enough that you can climb two in the same day!<br><br></p>
                        <figure></figure>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><strong>&nbsp;Trekking Mount Everest</strong><br></h1><img class="img-fluid" src="{% static 'img/ebc_07.jpg' %}"></div>
                    <div class="text">
                        <p class="text-justify" style="color: #000000;font-size: 20px;">I know what you’re thinking, this should have been the first adventure right? Well, I wanted to mix it up a bit! Nepal has been known as one of the nicest countries in the world for trekking for a very long time and I think I don’t
                            need to explain to anyone why this is. With new and restricted trekking areas and peaks being continuously opened, thousands of trekkers and climbers keep returning to test their endurance and explore every inch of this stunning
                            mountain. If you want to challenge yourself, try the<strong>&nbsp;</strong><a href="https://mosaicadventure.com/trip/nepal/everest-base-camp-trek/?utm_source=adventureinyou&amp;utm_medium=post"><strong>Everest Base Camp Trek</strong></a><strong>&nbsp;</strong>which
                            involves 12 days of trekking along rocky tracks, up some grueling inclines all at increasingly high altitudes. A test of both physically and mental will, nothing is like the feeling of sitting on the peak of this conquered,
                            snow-capped giant. Plus, I think being able to say that you climbed and conquered the highest mountain in the world will gain you a lot of street cred.<br><br><strong>Where to do it:</strong>&nbsp;This particular adventure
                            starts from the town of&nbsp;Lukla. Make sure to check out where your tour starts from as there are many options!<br><br></p>
                        <figure></figure>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><strong>Hand Gliding in Sarangkot</strong><br></h1><img class="img-fluid" src="{% static 'img/308.jpg' %}" style="height: 294px;"></div>
                    <div class="text">
                        <p class="text-justify" style="color: #000000;font-size: 20px;">You might have boarded a plane many times but it’s time for you to try the exciting Hang Gliding experience which will let you experience of riding your own plane. You will get a chance to witness the picturesque landscape on your
                            own.<br><br>This thrilling sport allows you have bird’s eye view of mountains and other scenic beauties.&nbsp;<br><br><strong>Highlights</strong>: Sarangkot is the place for these flights to take off for all the hang gliding
                            experiences. You can simply have a majestic view of monasteries, temples and mountains.&nbsp;<br><br><strong>Best time to visit</strong>: November and December.&nbsp;<br><br><strong>Difficulty Level</strong>: High, the weather
                            is an important consideration for hang gliding and many professionals say that hang gliding is more about the attitude than the skill sets.<br><strong>&nbsp;</strong><br><strong>Prices</strong>: Rs 10,000<br></p>
                        <figure></figure>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><strong>&nbsp;</strong>White Water Rafting in Trishuli river<br></h1><img class="img-fluid" src="{% static 'img/rafting-func.at-free-1.png' %}"></div>
                    <div class="text">
                        <p class="text-justify" style="color: #000000;font-size: 20px;">For all the adventure enthusiasts it will be truly amazing for you to meet the gushing white water. The adrenaline rush of the white water rafting will wash all your fears. It is truly thrilling to see the flow of untamed waters.<br><br>The
                            unexpected rapids will give you a challenging task which will make you want more. Just imagine the experience from the breath-taking heights of the Himalayas.<strong>&nbsp;</strong><br><br><strong>Highlights</strong>: Trishuli
                            river can be the best water rafting spots.&nbsp;<br><br><strong>Difficulty Level</strong>: High, however with the help of the trainers, people of all age group can experience white water rafting.<strong>&nbsp;</strong><br><br><strong>Prices</strong>:
                            Rs 4,410<br></p>
                        <figure></figure>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><strong>Bungee Jumping &amp; Canyon Swing</strong><br></h1><img class="img-fluid" src="{% static 'img/canyon-swing.jpg' %}"></div>
                    <div class="text">
                        <p class="text-justify" style="color: #000000;font-size: 20px;">A bungee&nbsp;jump with incredible views makes the experience so much better, trust me! Obviously, people agree, as Nepal has been labeled one of the “best sites” to experience the thrill of a bungee jump. I can see why, as plunging
                            off a tropical gorge at 106 meters over one of the wildest rivers, Bhote Koshi, gushing below would add to the rush of adrenaline. To make a full day of adventures, you can combine this jump with trekking through the mountains
                            or even with the world’s highest canyon swing!<br><br><strong>Where to do it:</strong>&nbsp;Kathmandu – most tours will pick you up from your accommodation.<br><img class="img-fluid" src="{% static 'img/180607130604-zhangjiajie-grand-canyon-glass-bridge-bungee-jump-1064520113.jpg' %}"><br></p>
                        <figure></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
