{% extends 'index.html' %}
{% load static %}
{% block body %}
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-left"><strong>Muktinath&nbsp;</strong></h1><img class="img-fluid" src="{% static 'img/mukti.jpg' %}" height="300" style="height: 420px;width: 760px;"></div>
                    <div class="text">
                        <p class="text-justify">Muktinath is one of the greatest religious and holy place in Nepal. Many Hindus and tourists visit this temple yearly. It is situated at the height of 3710m at the foot of the Thorang La in the Mustang District. It has 3 layered
                            Pagoda style with a snow-clad mountain on the foundation. Both Hindus and Buddhist visit this temple. Buddhist believe that Guru Rinpoche the founder of Tibetan Buddhism had meditated in this temple while he was travelling
                            to Tibet. It has 108 springs water where Hindu believe that by taking bath on this springs will wash out all the sins we have done in our life.<br><br>Muktinath is a holy sanctuary and place of religious journey for both Buddhist
                            and Hindus lying close to the base of the Thorung La Pass. On the off chance that you have next to no time or potentially would prefer not to trek it’s an extraordinary choice to see a remote piece of Nepal and a remarkable
                            and practically strange betray scene. Incredible perspectives are had of Nilgiri (7061m) from along the waterway gorge while in transit to Muktinath. The sanctuary is a best done as an overnight trek from Jomsom or then again
                            a jeep can be orchestrated. Flights and ground transport are accessible between Jomsom to Pokhara.<br><br></p>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-left"><strong>Manakamana&nbsp;</strong></h1><img class="img-fluid" src="{% static 'img/manakamana.jpg' %}" style="height: 400px;width: 760px;"></div>
                    <div class="text">
                        <p class="text-justify">Manakamana is one of the most famous temples of Nepal since many Hindus devotees believe that their wish will be fulfilled upon visit. There is Goddess Bhagwati, an incarnation of Parvati. The name Manakamana originated from two
                            words: Mana means Heart and Kamana mean wishes. This is situated in 12 km south of Gorkhatown and 140 km from Kathmandu. You have to travel by cable car from Kurintar to reach the temple. This temple is also famous for scarifying
                            animals in the name of Bhagwati. This temple is visited mainly in the month between Sept – Oct in the time of Dashain and in between July – August in the festival of Nag Panchami.<br><br></p>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-left"><strong>Barahachhetra</strong><br></h1><img class="img-fluid" src="{% static 'img/barahai.jpg' %}" style="height: 400px;width: 760px;"></div>
                    <div class="text">
                        <p class="text-justify">Barahachhetra is one of the most popular Hindu pilgrimage site of Nepal situated in Sunsari District in the south eastern Nepal. Among 4 Chhetra in Hindu mythology, it is one of the Chhetra. In every 12 years, there will be KumbaMela
                            during which lakhs of hindus devotees visit this place. It is believed that Lord Vishnu took the incarnation of a Boar (Baraha) to protect earth from being submerged into underworld. So, the name of this place is Barahachhetra
                            after that incident. There is a big idol of Baraha which is the incarnation of Lord Vishnu.<br></p>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-left"><strong>Gosaikunda</strong><br></h1><img class="img-fluid" src="{% static 'img/gosaikunda.jpeg' %}" style="height: 400px;width: 760px;"></div>
                    <div class="text">
                        <p class="text-justify">Gosaikunda is another famous religious place in Nepal. It is situated at the altitude of 4380 to the north of Kathmandu in Rasuwa district. It has a holy lake which is believed that it was created by Lord Shiva to quench his thrust
                            by his Trisul. During the full moon of August, many devotees visit this holy lake to take bath since it is believed that human sins will be wash out. You can visit this lake by ttwo-daytrek from Dhunche. Since it is situated
                            in high altitude, the place is cold. There are small hotels available for the devotees to stay.<br><br></p>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-left"><strong>Pashupatinath</strong><br></h1><img class="img-fluid" src="{% static 'img/pasupati.jpg' %}" style="width: 760px;height: 400px;"></div>
                    <div class="text">
                        <p class="text-justify">Kathmandu, the capital city of Nepal is one of the main religious city you have to visit. The most acclaimed Hindu temple Pashupatinath lies in this city. So, many Hindus especially from all over the world visit this city. Besides
                            Pashupatinath, there are many others famous temples like Buddhanilkantha, Sankata Temple and Buddhist stupas like Swayambhunath, Boudhanath all are in this city. So, this city is also called the city of the temple. You can’t
                            visit the temple of Kathmandu in a single day. Mostly, Hindus temples and Buddhist stupas can be seen in most of the corner of this town.<br></p>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-left"><strong>Janakpur</strong><br></h1><img class="img-fluid" src="{% static 'img/janaki.jpg' %}" style="width: 760px;height: 389px;"></div>
                    <div class="text">
                        <p class="text-justify">Janakpur is another religious place in Nepal which is famous for Janaki temple, a hindu temple of Goddess Sita. It has model of Hindu Rajput Nepali architecture.&nbsp; It is fully built in bright white covering the area of 4860
                            sq feet. It is 50 m high. It is entirely made of marble and stone. The temple is famously known as Nau Lakh Mandir since the total cost for the construction of this temple was around nine lakh. Many hindus from India, Sri lanka
                            and other countries visit this temple to worship Lord Ram and Goddess Sita.<br><br></p>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-left"><strong>Dakshinkali</strong><br></h1><img class="img-fluid" src="{% static 'img/dachinkali.jpg' %}" style="height: 400px;width: 760px;"></div>
                    <div class="text">
                        <p class="text-justify">Dakshinkali Mai is believed to be one of the most powerful god of Nepal. It is situated 22 km from the Kathmandu in Pharping. It is one of the main temple dedicated to Goddess Kali. Many Hindu devotees visit this temple during
                            Dashain festival in Nepal. This temple is mainly famous for scarifying animals like goat, hens since many believe that their wish will be fulfilled by doing so. The name is the combination of two words Dakshin which means south
                            and Kali menas Goddess Kali, another incarnation of Parvati.<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article-clean"></div>
{% endblock %}

