{% extends 'index.html' %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
            <div class="intro">
                <h1 class="text-left" style="height: 105px;color: #222222;"><br><strong>Upper Dolpo</strong><br><br></h1><img class="img-fluid" src="{% static 'img/upperdolpa.jpg' %}" style="height: 480px;"></div>
            <div class="text">
                <p class="text-justify"><br><a href="https://www.magicalnepal.com/trip/upper-dolpo-circuit-trek/">Upper Dolpo</a>&nbsp;is a hidden gem of Nepal with its Tibetan style villages, stunning barren landscapes, and picturesque mountain peaks. The region holds a centuries-old
                    culture untouched by the modern world. The trail requires the crossing of the three high passes Nagdalo La (5350m), Shey La (5000m) and Jeng La (5110m). It involves long climbs and strenuous descents. The trekking in this region is
                    very challenging yet rewarding. As it displays most stunning landscapes, spectacular mountain views and an insightful cultural exposure.<br><br><strong>Restrictions : &nbsp;</strong>A minimum of two trekkers accompanied by a Nepali
                    guide or Porter is required for a permit to trek Upper Dolpo region. So, make sure you have a Trekking Partner or a trekking agency for the trek.<br><br><strong><span style="text-decoration: underline;">Overview</span></strong><br><br><strong>Max Elevation :&nbsp;</strong>5,250
                    m, Kang La Pass<br><strong>Days :&nbsp;</strong>22<br><strong>Trekking Difficulty :&nbsp;</strong>Moderate&nbsp;<br><strong>Remoteness :&nbsp;</strong>Very Remote<br><strong>Pricing :&nbsp;</strong>High (USD spent/day)<br><strong>Best Season :&nbsp;</strong>March
                    to May and October to November<br><strong>Accommodation Type : &nbsp;</strong>Camping<br><strong>Restricted Permits : &nbsp;</strong>Yes<br><strong>Required Permits : &nbsp;</strong>RAP<br><br></p>
                <figure></figure>
            </div>
        </div>
        <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
            <div class="intro">
                <h1 class="text-left" style="height: 105px;"><br><strong>&nbsp;</strong><a href="https://www.magicalnepal.com/trip/everest-base-camp-trek/"><strong>Everest Base Camp Trek</strong></a><br><br></h1><img class="img-fluid" src="{% static 'img/everestbasecamp.jpg' %}" style="height: 480px;width: 720;"></div>
            <div
                class="text">
                <p class="text-justify"><br>The&nbsp;<a href="https://mosaicadventure.com/trip/nepal/everest-base-camp-trek/">Everest Base Camp Trek</a>&nbsp;is the best option for those looking to relish the spectacular close up views of the world’s highest mountains.&nbsp;
                    This trek offers you a chance to explore the Sherpa villages and their lifestyles.&nbsp; This is one of the best treks in Nepal and offers an exclusive trekking experience.<br><br>Reaching the summit of the world’s highest Mountain,
                    Mount Everest may be the pinnacle of all the adventures.&nbsp; But, walking to the&nbsp;<a href="https://trekroute.com/trekking-in-nepal/everest-base-camp-trek">base camp of Mount Everest</a>&nbsp;is no less adventurous.<br><br>In
                    this trek, you experience the glorious walk on the footprints of legendary mountaineers. En route you pass through beautiful High Passes and roaring Dudhkoshi River. Along with renowned Namche bazaar, serene Imjatse valley and several
                    Buddhist Monasteries on the trail.<br><br><br><strong><span style="text-decoration: underline;">Overview</span></strong><br><br><strong>Max Elevation : &nbsp;</strong>5,600 m, Kala Patthar<br><strong>Days :&nbsp;</strong>12 Days<br><strong>Trekking Difficulty :&nbsp;</strong>Medium<br><strong>Remoteness : &nbsp;</strong>Not
                    Remote &nbsp;(High number of trekkers per year)<br><strong>Pricing : &nbsp;</strong>Medium (USD spent/day)<br><strong>Best Season : &nbsp;</strong>March to May and October to November.<br><strong>Accommodation Type : &nbsp;</strong>Teahouse<br><strong>Restricted Permits : &nbsp;</strong>No<br><strong>Required Permits :&nbsp;</strong>TIMS<br><br></p>
                <figure></figure>
        </div>
    </div>
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
            <h1 class="text-left" style="height: 105px;"><br><a href="https://www.magicalnepal.com/trip/annapurna-circuit-trek/"><strong>Annapurna Circuit Trek</strong></a><br><br></h1><img class="img-fluid" src="{% static 'img/annapurnacircuittrek.jpg' %}" style="height: 480px;"></div>
        <div class="text">
            <p class="text-justify"><br><br><a href="https://www.magicalnepal.com/trip/annapurna-circuit-trek/">Annapurna Circuit</a>&nbsp;is one of the most famous trekking routes in Nepal. The trail traverses a variety of terrain in the Annapurna region.&nbsp; And explore
                the rich cultural and natural diversity. The trek offers an amazing view of the Annapurnas, Macchupucchre, Dhaulagiri, Manaslu and Langtang Himal.<br><br>Despite the issues on road construction, Annapurna Circuit Trek is still one of Nepal’s
                greatest treks. The trek offers ample of cultural and natural beauty to awe-inspire any visitors in the region.<br><br>The trail allows a gentler acclimatization as you traverse the variety of landscapes. From jungle to high alpine, lush
                valley and up to arid peaks. Along the trail, you pass through hospitable villages and the world’s deepest gorge.<br><br><strong><span style="text-decoration: underline;">Overview</span></strong><br><br><strong>Max Elevation :&nbsp;</strong>5,416
                m,&nbsp; Thorong La Pass<br><strong>Days :&nbsp;</strong>14<br><strong>Trekking Difficulty :&nbsp;</strong>Moderate<br><strong>Remoteness :&nbsp;</strong>Not Remote<br><strong>Pricing :&nbsp;</strong>Cheap (USD spent/day)<br><strong>Best Season :&nbsp;</strong>March
                to May and October to November<br><strong>Accommodation Type :&nbsp;</strong>Teahouse<br><strong>Restricted Permits :&nbsp;</strong>No<br><strong>Required Permits :&nbsp;</strong>ACAP, TIMS<br><br><br><br></p>
            <figure></figure>
        </div>
    </div>
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
            <h1 class="text-left" style="height: 105px;"><br><strong>&nbsp;</strong><a href="https://www.magicalnepal.com/trip/ghorepani-poonhill-trek/"><strong>Ghorepani Poon Hill Trekking</strong></a><br><br><br></h1><img class="img-fluid" src="{% static 'img/poonhill.jpg' %}" style="height: 480px;"></div>
        <div
            class="text">
            <p class="text-justify"><br><a href="https://www.magicalnepal.com/trip/ghorepani-poonhill-trek/">Ghorepani Poon Hill Trek</a>&nbsp;is much easy and short trekking. In this trek, you walk along the terraced farmlands. Along with the beautiful rhododendron forest and
                hospitable Gurung Villages. The trek is quite beautiful during the spring when the rhododendron forest is in bloom. Plus, the panorama of the high mountains on the vista is no less alluring.<br><br>&nbsp;The spectacular sunrise view over
                the&nbsp; Annapurna range is the highlight of the trek. This is the best&nbsp;<a href="https://www.bookmundi.com/nepal?utm_source=trekroute">trek in Nepal&nbsp;</a>to explore the beauty of the Annapurna Region in a short period of time.<br><br><br><strong><span style="text-decoration: underline;">Overview</span></strong><br><br><strong>Max Elevation :&nbsp;</strong>3,210
                m, Poonhill<br><strong>Days :&nbsp;</strong>5<br><strong>Trekking Difficulty :&nbsp;</strong>Easy to Moderate<br><strong>Remoteness :&nbsp;</strong>Not Remote<br><strong>Pricing : &nbsp;</strong>Cheap<br><strong>Best Season : &nbsp;</strong>March
                to May and October to November.<br><strong>Accommodation Type : &nbsp;</strong>Teahouse<br><strong>Restricted Permits : &nbsp;</strong>No<br><strong>Required Permits :&nbsp;</strong>ACAP, TIMS<br><br><br></p>
            <figure></figure>
    </div>
    </div>
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
            <h1 class="text-left" style="height: 105px;"><br><strong>&nbsp;</strong><a href="https://www.magicalnepal.com/trip/upper-mustang-trek/"><strong>Upper Mustang</strong></a><br><br><br></h1><img class="img-fluid" src="{% static 'img/uppermustang.jpg' %}" style="height: 480px;width: 843;"></div>
        <div class="text">
            <p class="text-justify"><br><a href="https://www.magicalnepal.com/trip/upper-mustang-trek/">Upper Mustang</a>&nbsp;is a culturally and geo-politically sensitive area and wasn’t open for trekking until 1992. The culture and landscape of the region is close to that
                of Tibet.&nbsp; Due to the isolation from the world, the region is able to maintain its centuries old culture and landscape. The 16th century Buddhist monasteries and the caves carved into sheer cliff walls in mustang draws many trekkers
                to the region. <br><br>Mustang has a striking terrain of a semi-arid desert with deep ravines and rock shelves, fringed with snowy peaks. Hidden behind the majestic Himalayan ranges, Mustang is a hidden paradise in Nepal. This is a must
                trek for the one yearning to explore the fascinating landscape and the rich Tibetan culture.<br><br><strong>Restrictions :&nbsp;</strong>This trek requires at least two trekkers accompanied by a Nepali guide or Porter. Along with a restricted
                area permit make sure you have a trekking partner or a trekking agency for the trek.<br><br><strong><span style="text-decoration: underline;">Overview</span></strong><br><br><strong>Max Elevation :&nbsp;</strong>3,810 m, Dhakmar<br><strong>Days :&nbsp;</strong>14<br><strong>Trekking Difficulty :&nbsp;</strong>Moderate
                to Hard<br><strong>Remoteness :&nbsp;</strong>Very Remote<br><strong>Pricing :&nbsp;</strong>High (USD spent/day)<br><strong>Best Season :&nbsp;</strong>March to May and October to November.<br><strong>Accommodation Type :&nbsp;</strong>Teahouse<br><strong>Restricted Permits :&nbsp;</strong>Yes<br><strong>Required Permits :&nbsp;</strong>ACAP
                , RAP<br><br></p>
            <figure></figure>
        </div>
    </div>
    </div>

 {% endblock %}
